.container {
    text-align: center;
    margin-top: 20px;
    background-color: #eed2d2; 
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2); 
  }
  
  .h1 {
    font-size: 24px;
    color: #000000; 
  }
  
  .p {
    font-size: 18px;
    color: #020202; 
  }
  
  .button {
    padding: 10px 20px;
    font-size: 20px;
    margin: 10px;
    background-color: #000000; 
    color: #000000; 
    border:  2px solid #555555;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out; 
  }
  
  .button:hover {
    background-color: #0f0f0f; 
    color: white;
  }